@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBMPlexSans.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.ttf');
  font-display: swap;
}
